.p-links {
    table {
        margin: 3% 2%;
        tr {
            th {
                padding: 0.8rem;
                font-size: 1.3rem;
                font-weight: normal;
                &::after {
                    content: " - ";
                }
            }
            td {
                padding: 0.6rem;
                margin: 0 3%;
                font-size: 1.6rem;
                .fa-marker {
                    &::after {
                        content: " blog";
                        font-weight: normal;
                        letter-spacing: -0.1rem;
                    }
                }
                .fa-video {
                    &::after {
                        content: " SHOWROOM";
                        font-weight: normal;
                        letter-spacing: -0.1rem;
                    }
                }
            }
        }
    }
}