.p-works {
    &__cd {
        text-align: center;
        img {
            width: 50%;
        }
    }
    p {
        margin: 5%;
        font-size: 1.1rem;
    }
    strong {
        font-size: 2.2rem;
    }
    ol {
        li {
            margin: 3% 0;
            font-size: 1.2rem;
            list-style-type: decimal;
            list-style-position: inside;
        }
    }
    ul {
        padding: 5%;
        display: flex;
        justify-content: space-around;
    }
}